<div class= 'container'>
    <footer class= 'footer'>
        <small>
            Copyright &copy; <a href='https://www.google.com'  target="_blank">Google</a>
            by <a href='https://www.instragram.com/davidschiu'  target="_blank">David Schiumerini</a>
        </small>
    </footer>
</div>